.product {
  padding-top: rem(80);

  @include responsive(T) {
    max-width: $tablet-max-width;
    margin: 0 auto;
  }

  @include responsive(D) {
    max-width: $desktop-max-width;
    display: flex;
    padding-top: rem(120);

    &__thumb-wrap {
      width: 60%;
    }
  }

  &__btns {
    display: flex;
    gap: rem(16);

    button {
      @include h4;
      width: 100%;
      border-radius: rem(8);
      padding: rem(24) rem(8);
      border: rem(1) solid transparent;

      &.cart {
        background-color: $black;
        color: $white;
      }

      &.purchase {
        background-color: $white;
        border-color: $black;
      }
    }
  }

  &__notice {
    &-item {
      padding: rem(16) 0;
      border-bottom: rem(1) solid $grey300;
    }

    .title {
      @include b1;
      color: $grey700;
    }
  }
}
