.product {
  padding-top: rem(80);

  @include responsive(T) {
    max-width: $tablet-max-width;
    margin: 0 auto;
  }

  @include responsive(D) {
    max-width: $desktop-max-width;
    display: flex;
    padding-top: rem(120);
    padding-bottom: rem(200);

    &__thumb-wrap {
      width: 60%;
    }
  }

  &__btns {
    display: flex;
    gap: rem(16);

    button {
      @include h4;
      width: 100%;
      border-radius: rem(8);
      padding: rem(24) rem(8);
      border: rem(1) solid transparent;
      transition: 0.2s;

      &.cart {
        background-color: $black;
        color: $white;

        &:hover {
          background-color: $grey700;
        }
      }

      &.purchase {
        background-color: $white;
        border-color: $black;

        &:hover {
          background-color: $grey50;
        }
      }
    }
  }

  &__notice {
    &-item {
      padding: rem(16) 0;
      border-bottom: rem(1) solid $grey300;
    }

    .title {
      @include b1;
      color: $grey700;
    }

    .content {
      padding: rem(24) rem(4);
      display: none;

      &.is-active {
        display: block;
      }
    }

    .notice-key {
      @include b3;
      padding-bottom: rem(16);
      color: $grey700;
    }

    .notice-value {
      @include b4;
      padding-bottom: rem(24);
      color: $grey500;
      line-height: rem(18);
    }
  }
}
