.suggest {
  margin-top: rem(120);
  position: relative;

  .section-title {
    margin: 0;
  }

  @include responsive(T) {
    margin: rem(120) auto 0 auto;
    max-width: $tablet-max-width;
  }

  @include responsive(D) {
    max-width: $desktop-max-width;
  }

  button {
    &.swiper-button-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}
