.product-item {
  width: 100%;
  position: relative;

  @include responsive(T) {
    padding: rem(8);
    border: 1px solid transparent;

    &:hover {
      border-color: $red;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thumb {
    width: vw(304);
    height: vw(304);

    @include responsive(T) {
      width: 100%;
      height: 100%;
    }

    &:hover {
      .thumb--primary {
        display: none;
      }

      .thumb--hover {
        display: block;
      }
    }

    img {
      width: 100%;
    }

    &--hover {
      display: none;
    }
  }

  .info {
    width: vw(304);

    @include responsive(T) {
      width: 100%;
    }

    .caption {
      @include b2;
      color: $red;
      font-weight: 700;
      margin-top: rem(12);
    }

    .title {
      @include b3;
      color: $grey700;
      margin-top: rem(4);
    }

    .price {
      @include b3;
      color: $grey700;
      font-weight: 700;
      margin-top: rem(16);
    }
  }
}
