.header {
  padding: rem(0) rem(8);
  box-shadow: $shadow-4px;

  &__content-wrap {
    position: relative;
    height: rem(60);

    @include responsive(D) {
      max-width: $desktop-max-width;
      margin: 0 auto;
    }
  }

  &__logo {
    @include position(left, 50%, top, 50%);
    @include bg("logo.svg", center);
    width: rem(117);
    height: rem(36);
    background-size: cover;

    @include responsive(D) {
      position: relative;
      left: 0;
      top: 0;
      transform: none;
    }
  }

  &__nav {
    &-list {
      gap: rem(24);
    }

    &-item {
      padding: rem(4) rem(8);

      a {
        @include b2;
        font-weight: 700;
        color: $grey700;
        position: relative;

        &::before {
          content: "";
          height: 2px;
          width: 0;
          background-color: $red;
          border-radius: 10px;
          transition: 0.3s;
          position: absolute;
          bottom: -8px;
          left: -1px;
        }

        &:hover {
          color: $red;

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  &__search {
    width: rem(160);
    height: rem(40);
    position: relative;

    .search-input {
      width: 100%;
      height: 100%;
      padding: rem(8);
      border-radius: rem(40);
      border: rem(1) solid $grey400;
      color: $grey700;

      &:focus {
        outline: none;
        border-color: $grey700;
      }
    }

    .btn--search {
      @include position(right, 8px, top, 50%);
    }
  }
}
