.top-menu {
  width: 100%;
  background-color: $black;
  position: fixed;
  top: 0;
  z-index: $header-level;

  &.hide {
    display: none;
  }

  &__list {
    max-width: $desktop-max-width;
    margin: 0 auto;
  }

  &__item {
    padding: rem(12) 0;

    a {
      @include b4;
      color: $white;
      border-left: rem(1) solid $white;
      padding: 0 rem(8);

      &:hover {
        color: $grey300;
      }
    }
  }
}
