.btn {
  &--menu {
    @include bg("ico_menu.svg");
    width: rem(24);
    height: rem(24);
  }

  &--cart {
    @include bg("ico_cart.svg");
    width: rem(24);
    height: rem(24);
  }

  &--heart {
    @include bg("ico_heart.svg");
    width: rem(24);
    height: rem(24);
    transition: 0.1s;

    &:hover {
      @include bg("ico_heart-hover.svg");
    }
  }

  &--search {
    @include bg("ico_search.svg");
    width: rem(24);
    height: rem(24);

    .header & {
      margin-left: rem(8);
    }
  }

  &--prev {
    @include bg("ico_chevron-left.svg");
    width: rem(24);
    height: rem(24);
  }

  &--next {
    @include bg("ico_chevron-right.svg");
    width: rem(24);
    height: rem(24);
  }

  &--bottom {
    @include bg("ico_arrow-bottom.svg");
    width: rem(24);
    height: rem(24);
    transition: 0.3s;

    &.active {
      transform: rotate(-180deg);
    }
  }

  &--right {
    @include bg("ico_arrow-right.svg");
    width: rem(24);
    height: rem(24);
  }

  &--outline {
    display: block;
    padding: rem(4) rem(8);
    background-color: transparent;
    border: rem(1) solid $white;

    @include responsive(D) {
      padding: rem(8) rem(16);
    }
  }

  &--chevron {
    &-left {
      @include bg("ico_btn-left.svg", center);
      width: rem(42);
      height: rem(42);
    }

    &-right {
      @include bg("ico_btn-right.svg");
      width: rem(42);
      height: rem(42);
    }
  }
}
